#map {
        height: 80%;
		width: 70%;
		margin-left: 15%;
		
      }
html, body {
		height: 100%;
        margin: 0;
        padding: 0;
		overflow: hidden;
}
#atlanta{
	margin-left: 44%;
}
.navbar {
	width: 20%;
	margin-left: 40%;
	
}
