#map {
        height: 82%;
		width: 85%;
		
		
      }
html, body {
		height: 100%;
        margin: 0;
        padding: 0;
		overflow: hidden;
}
#atlanta{
	margin-left: 43%;
}
.navbar-default {
	width: 9%;
	margin-left: 45%;
	
}
.small{
	
}
#all {
	width: 100%;
	height: 100%;
}
ul {
	
	float: left;
}
