#map {
        height: 82%;
		width: 70%;
		margin-left: 15%;
		
      }
html, body {
		height: 100%;
        margin: 0;
        padding: 0;
		overflow: hidden;
}
#atlanta{
	margin-left: 43%;
}
.navbar {
	width: 9%;
	margin-left: 45%;
	
}
